* {box-sizing: border-box;}

body {
    font-family: Arial, sans-serif;
    font-size: 14pt;
}

/* ================= HEADER ================= */
.header {
    display:flex; 
    align-items:center; 
    background-color:#519cae;
    height:200px;
}

.header img {
    width:150px; 
    margin-left:50px;
}

.header h1 {
    color:white; 
    width:100%; 
    text-align:center;
    font-size:40pt;
    text-shadow:4px 4px 8px #000000;
}

/* ================= NAV ================= */
.nav {
    overflow: hidden;
    background-color: #678a98;
    height:45px;
}

.nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
}

.nav a {
    display:block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration:none;
}

.nav a:hover {
    background-color:white; 
    color:green;
}

/* ================= GALLERY ================= */
.gallery {
    display: flex;
    flex-grow:1;
}

.gal-item {
    margin: 5px;
    border: 1px solid #ccc;
    width: 25%;
}

.gal-item:hover {
    border: 1px solid #777;
}

.gal-item img {
    width: 100%;
}

/* ================= ARTICLE ================= */
.tintuc {
    margin:10px;
}

.tintuc img {
    float:right;
    width:400px;
    padding-left:14px;
}

.tintuc h2 {
    text-align:center;
    color:tomato;
}

.tintuc p {
    text-align:justify;
    font-size:14pt;
    line-height:1.5;
}

.dropcap {
    float:left;
    font-size:60pt;
    color:green;
    line-height:40px;
}

/* ================= FOOTER ================= */
.footer {
    background-color:#519cae;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer p {
    margin-left: 100px;
    font-size: 12pt;
    color: white;
}

.footer img {
    width: 90px;
}

/* ================= RESPONSIVE ================= */

/* Ảnh không vượt màn hình */
img {
    max-width: 100%;
    height: auto;
}

/* ===== Tablet (dưới 992px) ===== */
@media screen and (max-width: 992px) {

    .header h1 {
        font-size: 30pt;
    }

    .gallery {
        flex-wrap: wrap;
    }

    .gal-item {
        width: calc(50% - 10px);
    }

    .tintuc img {
        width: 100%;
        float: none;
        padding-left: 0;
        margin-bottom: 15px;
    }
}

/* ===== Mobile (dưới 600px) ===== */
@media screen and (max-width: 600px) {

    .header {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
    }

    .header img {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .header h1 {
        font-size: 20pt;
    }

    .nav {
        height: auto;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav a {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid rgba(255,255,255,0.1);
    }

    .gal-item {
        width: 100%;
        margin: 5px 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer p {
        margin-left: 0;
        margin-bottom: 15px;
    }
}